body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  position: relative;
  width: 100%;
  height: 100px;
  display: grid;
  align-items: center;
}
nav {
  width: 80%;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.logo > a {
  font-size: 2vw;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  font-family: "Lobster", cursive;
  text-decoration: none;
}

.logo-image {
  width: 70px;
  height: 70px;
}
.menu {
  position: absolute;
  top: 0;
  right: 10px;
  width: 40%;
  list-style-type: none;
}
.menu-item {
  display: flex;
  justify-content: space-between;
}
.menu-link {
  font-size: 1vw;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  transition: color 0.3 ease;
}
.menu-link:hover {
  text-decoration: underline wavy rgb(255, 255, 255) 2px;
}
/* ----------------------------------------------- */
main {
  font-family: "Poppins", sans-serif;
  position: absolute;
  width: 100%;
  height: 3700px;
  top: 0;
  z-index: -1;
  background: url(./img/background.jpg) fixed;
}
.slidecontain {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.slidecontain > img {
  width: 100%;
  height: 600px;
  filter: brightness(0.7);
}
#clouds {
  position: absolute;
  left: -120px;
  bottom: -300px;
  filter: brightness(3);
  width: 150%;
}
#caption {
  color: white;
  width: 80%;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  z-index: 999;
}
#xemThem {
  width: 150px;
  height: 50px;
  border: #ffffff solid 5px;
  border-radius: 20px;
  background: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#xemThem:hover {
  background-color: white;
  color: black;
}
#nextLeft {
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 500px;
  width: 100px;
  background-color: #ffffff00;
  border: none;
  color: rgba(255, 255, 255, 0.242);
  font-size: 30px;
  cursor: pointer;
  z-index: 999;
}
#nextRight {
  position: absolute;
  bottom: 0;
  right: 0px;
  height: 500px;
  width: 100px;
  background-color: #ffffff00;
  border: none;
  color: rgba(255, 255, 255, 0.242);
  font-size: 30px;
  cursor: pointer;
  z-index: 999;
}
#countIMG {
  position: absolute;
  width: 100px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#countIMG > div {
  background-color: rgb(221, 221, 221);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
#countIMG > div:nth-child(1) {
  background-color: #41cafc8f;
}
/* .WhoWeAre -----------------*/
.WhoWeAre {
  width: 80%;
  height: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.WhoWeAre > h3 {
  text-align: center;
  font-size: 40px;
}
.wwa1 {
  border: 3px solid black;
  position: relative;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 500px;
  background-image: linear-gradient(
    to right bottom,
    rgb(44, 171, 6),
    #09c788b1
  );
  border-radius: 20px 40% 40% 20px;
  overflow: hidden;
}
.wwa1 > img {
  width: 100%;
  height: 500px;
  filter: brightness(0.8);
}
/* ------ VỊ trí */
.HaNoi {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 80px;
  right: 40px;
  cursor: pointer;
  display: flex;
}

.vongHN1 {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  animation: hieuWwa1 1s infinite linear;
}

.vongHN2 {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.motaHN {
  margin-left: 30px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s linear;
  border: 2px solid black;
}
.HaNoi:hover .motaHN {
  opacity: 1;
}
.motaHN > p {
  position: relative;
  bottom: 10px;
}
@keyframes hieuWwa1 {
  50% {
    border: 2px solid black;
  }
}
/* ------------------------ Đắk Lắk ---------- */
.dakLak {
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 120px;
  right: 160px;
  cursor: pointer;
  display: flex;
}

.vongDL1 {
  position: relative;
  left: 175px;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  animation: hieuWwa1 1s infinite linear;
}

.vongDL2 {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.motaDL {
  margin-left: 30px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s linear;
  border: 2px solid black;
}
.dakLak:hover .motaDL {
  opacity: 1;
}
.motaDL > p {
  position: relative;
  bottom: 10px;
}
@keyframes hieuWwa1 {
  50% {
    border: 2px solid black;
  }
}
/* --------------------------- */
.wwa2 {
  border: 3px solid black;
  border-left: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 500px;
  display: flex;
  justify-content: center;
  border-radius: 0 20px 20px 0;
}
.wwa2 > div {
  position: relative;
  width: 90%;
}
.wwa2 > div > p {
  text-align: justify;
}
.wwa2 > div > img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 150px;
}
/* ------------------ Destination */
.Destination {
  width: 80%;
  height: 550px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.Destination > h3 {
  text-align: start;
  font-size: 35px;
}
.btnDestiantion {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.btnDestiantion > button {
  width: 50px;
  height: 40px;
  border: #000000 solid 5px;
  border-radius: 20px;
  background: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btnDestiantion > button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.holdDestination {
  height: 450px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#newDestination {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 450px;
  width: 200%;
  position: absolute;
  transition: left 0.5s linear;
  left: 0px;
}

.Destination > div > div > div {
  width: 15%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #c1c1c1c5;
  transition: border 0.2s linear;
  transition: box-shadow 0.1s ease-in-out;
  margin-left: 30px;
}

.Destination > div > div > div:hover img {
  transform: scale(1.5);
}
.Destination > div > div > div:hover {
  box-shadow: 0 0 10px 10px black;
}
.divAnh img {
  width: 100%;
  height: 200px;
  transition: transform 0.1s ease-in-out;
}
.divAnh {
  overflow: hidden;
}
.moTa {
  width: 90%;
  margin: 20px 0 0 20px;
  position: relative;
}
.moTa > * {
  margin: 0;
}
.moTa > h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.moTa > p:nth-child(2) {
  height: 80px;
  text-align: justify;
}
.moTa > button {
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: #000000 solid 5px;
  border-radius: 20px;
  background: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.moTa > button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#danhgia > i {
  cursor: pointer;
}
/* ------------------------------------- */
.travelerChoice {
  width: 80%;
  height: 600px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.tCdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 300px;
  border: 10px solid rgb(73, 191, 255);
}
.travelerChoice > h3 {
  text-align: center;
  font-size: 40px;
}
.travelerChoice > div {
  display: flex;
  justify-content: space-around;
}
.travelerChoice > div > div {
  width: 20%;
  height: 400px;
  overflow: hidden;
}
.travelerChoice > div > div > img {
  height: 100%;
  filter: brightness(0.5);
  transition: filter 0.3s linear;
}
.travelerChoice > div > div > img:hover {
  filter: brightness(1);
}
.tC1,
.tC3 {
  border: 1px solid black;
  border-radius: 0 30% 0 30%;
}
.tC2,
.tC4 {
  border: 1px solid black;
  border-radius: 30% 0 30% 0;
}

/* --------------------------- */
.wewillcomback {
  width: 100%;
  height: 450px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(./img/timecount.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  color: whitesmoke;
}

.wewillcomback > h3 {
  text-align: center;
  font-size: 40px;
}
.hopTime {
  background-color: #ffffff26;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hopTime > h2 {
  margin: 0;
  font-size: 60px;
}
.hopTime > div {
  width: 20%;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  font-family: "Oswald", sans-serif;
}

/* -------------------------------------- */
.contact {
  width: 80%;
  height: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#contact1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 500px;
  background-color: rgba(219, 219, 219, 0.829);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px 0 0 20px;
}
#contact1 > div {
  position: relative;
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact1 > div > input {
  width: 100%;
  height: 100px;
  border: #000000 solid 5px;
  background: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#contact1 > div > input:focus {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#buttonContact1 {
  height: 40px;
  width: 100px;
  position: absolute;
  right: 120px;
  border: #000000 solid 5px;
  border-radius: 20px;
  background: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#buttonContact1:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#buttonContact2 {
  height: 40px;
  width: 100px;
  position: absolute;
  right: 0px;
  border: #000000 solid 5px;
  border-radius: 20px;
  background: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#buttonContact2:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#contact2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 500px;
  background-color: rgb(202, 202, 115);
  border-radius: 0 20px 20px 0;
  z-index: 999;
  transition: width 0.5s linear;
}
#contact2 > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: monospace;
  margin: 0;
}
/*------------------------*/
footer {
  width: 100%;
  height: 170px;
  background-color: rgb(200, 255, 0);
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
/* -------- Controls ----------- */
#controls {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.372);
  cursor: pointer;
}
/*---------------------*/
